*
{
    margin: 0px;
    padding: 0px;
    background-color:#bcccfc;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img
{
    border-radius: 50%;
    border: 2px solid black;

}

.contact-top
{
    text-align: center;
    margin: 0 1em;
    border-radius: 50px;
}

.contact-top__h1
{
    background-color: #5178b4;
    font-size: 2.2em;
    color:beige;
}
.contact-top__h2
{
    background-color: #9cabcf;
    font-size: 1.5em;
    text-align: center;
}

.contact-med
{
    border: 1px solid black;
    margin: 1em;
}

.contact-med__h2
{
    font-size: 2em;
    text-align: center;
}
.contact-med__p
{
    padding-left: 1em;
    font-size: 1.3em;
}

.contact-datos
{
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
}

.contact-exp
{
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
}

footer
{
    border: 1px solid black;
    margin: 1em;
    padding: 1em; 
}


